body {
	font-family: 'Roboto Mono', monospace;
	color: #93a1a1;
}

.title {
	padding-top: 4%;
	color: #268bd2;
	font-size: 32px;
	font-weight: 400;
}

.text {
	display: block;
	padding-top: 4%;
	/*font-size: 16px;*/
}

.link {
	padding-top: 0%;
	font-size: 12px;
}

img {
	border: 3px solid #268bd2;
	max-width: 100%;
	height: auto;
	width: auto\9;
	max-height: 450px;
}

a {
	color: #2aa198;
}

a:hover {
	color: #fdf6e3;
}
